<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Главная</a></li>
          <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Фильмы</a></li>
          <li><a href="{% url 'contact' %}" class="nav-link px-2 text-white">Контакты</a></li>

          {% if user.is_authenticated %}
            <li><a href="{% url 'edit' %}" class="nav-link px-2 text-secondary">Редактировать</a></li>
          {% endif %}
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="{% url 'home' %}">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Пойск..." aria-label="Search" name="search">
        </form>

        <div class="text-end">
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-light me-2">Выйти</button></a>
          {% else %}
            <a href="{% url 'register' %}"><button type="button" class="btn btn-warning">Зарегистрироваться</button></a>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-light me-2">Войти</button></a>
          {% endif %}
        </div>
      </div>
    </div>
</header>